---
import BaseDashboard from "../../layout/BaseDashboard.astro";
import { supabase } from "../../lib/supabase";

const { id } = Astro.locals;
const especialistaId = id;

// Consulta na tabela relacoes do schema "clinica"
const { data, error } = await supabase
  .schema("clinica")
  .from("relacoes")
  .select("cliente(id, nome, sobrenome, email, telefone)")
  .eq("espec_id", especialistaId);

if (error) {
  console.error("Erro ao buscar clientes:", error);
}
---
<BaseDashboard title="Lista de Clientes do Especialista">
  <section class="py-24 px-4 w-full flex flex-col items-center gap-2">
    <h1 class="text-2xl font-bold">Clientes do Especialista</h1>
    {data ? (
      <ul class="w-full max-w-prose">
        {data.map((relacao) => (
          <li class="flex flex-col bg-zinc-100 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100 px-4 py-2 rounded-md mb-2">
            <a href={`/dashboard/cliente/${relacao.cliente?.id}`}>
              <p><strong>Nome:</strong> {relacao.cliente?.nome}</p>
              <p><strong>Sobrenome:</strong> {relacao.cliente?.sobrenome}</p>
              <p><strong>E-mail:</strong> {relacao.cliente?.email}</p>
              <p><strong>Telefone:</strong> {relacao.cliente?.telefone}</p>
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <p>Nenhum cliente encontrado</p>
    )}
  </section>
</Base>
