---
import Base from "../../../../layout/BaseDashboard.astro";
import { supabase } from "../../../../lib/supabase";

// O ID do cliente vem da URL
const { id } = Astro.params;

const { data: cliente, error } = await supabase
  .schema("clinica")
  .from("cliente")
  .select(`
    id,
    nome,
    sobrenome,
    email,
    telefone,
    data_nascimento,
    cpf,
    profissao,
    endereco,
    bairro,
    cep,
    cidade,
    estado,
    contato_emergencia,
    telefone_emergencia
  `)
  .eq("id", id)
  .single();

if (error) {
  console.error("Erro ao buscar detalhes do cliente:", error);
}
---
<Base title="Detalhes do Cliente">
  <section class="py-24 px-4 min-h-screen dark:bg-gray-900 ">
    
    {cliente ? (
      <div class=" max-w-5xl mx-auto bg-white dark:bg-gray-800 shadow-md rounded-md p-8">
        <h1 class="text-3xl font-semibold mb-6  text-primary">Dados do Paciente</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1 ">Nome:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.nome} {cliente.sobrenome}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1 ">E-mail:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.email}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Telefone:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.telefone}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Data de Nascimento:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.data_nascimento}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">CPF:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.cpf}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Profissão:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.profissao}</p>
          </div>
          <div class="md:col-span-2 relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Endereço:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.endereco}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Bairro:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.bairro}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">CEP:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.cep}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Cidade:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.cidade}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Estado:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.estado}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Contato de Emergência:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.contato_emergencia}</p>
          </div>
          <div class="relative m-2">
            <p class="font-medium text-sm text-secondar text-secondary absolute bottom-10 left-2 bg-slate-800 px-1">Telefone de Emergência:</p>
            <p class="border rounded-xl p-3 border-slate-600">{cliente.telefone_emergencia}</p>
          </div>
        </div>
      </div>
    ) : (
      <p class="text-center">Detalhes do cliente não encontrados.</p>
    )}
    <div class="mt-8 max-w-5xl mx-auto bg-white dark:bg-gray-800 shadow-md rounded-md p-6">
      <h2 class="text-3xl font-semibold mb-6  text-primary">Histórico de Clínico</h2>
      <p class="text-center">Em breve...</p>
    </div>
    <div class="mt-8 max-w-5xl mx-auto bg-white dark:bg-gray-800 shadow-md rounded-md p-6">
      <h2 class="text-3xl font-semibold mb-6  text-primary">Histórico de Consultas</h2>
      <p class="text-center">Em breve...</p>
    </div>
    <div class="mt-8 text-center">
      <a href="/dashboard/clientes" class="text-blue-500 hover:underline">Voltar</a>

    </div>
    
  </section>
</Base>
