---
import HeaderClinica from "@/components/header-clinica.astro";



interface Props {
  title: string;
}

const description = "T4P | Tecnologia para Pessoas";
const { title = "T4P | PSYSTEM" } = Astro.props;
const ogImageURL = new URL("hero.png", Astro.site).href;
const canonicalURL = new URL(Astro.url).href;
---

<html lang="pt-BR" class="h-full w-full">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="twitter:image" content={ogImageURL} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
  </head>
  <body
    class="flex flex-col h-full w-full bg-gray-100 dark:bg-gray-900 dark:text-zinc-100"
  > 

     <HeaderClinica />
    <slot />
  </body>
</html>
